@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: montserrat;
}
nav{
  display: flex;
  background-image: linear-gradient(#1c2833ec,#164674);
  height: 80px;
  width: 100%;
  justify-content: space-between;
  padding: 0 50px 0 80px  ;
    align-items: center;
}
nav ul{
  display: flex;
  justify-content: space-between;
}
.logo{
  font-size: 30px ;
  font-weight: 600;
  color: white;
  
}
nav ul{
  display: flex;

  
}
nav ul li{
  list-style: none;
  margin: 0 8px;
}
nav ul li a{
  text-decoration: none;
  font-size: 15px;
  font-weight: 550;
  color: white;
 padding: 7px 10px;
  background-image: linear-gradient(#5883ab29,#2e91ed41);
 transition: 0.5s;
 border-radius: 8px;
text-transform: uppercase;
}
nav ul li a:hover,nav ul li a.active{
   background-image: linear-gradient(#5883abec,#2e90ed);
   border-radius: 8px;
}
#click{
  display: none;
}
.menu-button{
  color: aliceblue;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
/* responsive work start */

@media only screen and (max-width:940px) {
  nav ul{
   
     position: fixed;
    top:80px;
    flex-direction: column;
    background-image: linear-gradient(#1c2833ec,#164674);
    height: 90vh;
    width: 100%;
    align-items: center;
    padding-top: 30px;
    left: -100%;
    transition: all .5s ease;
  }
  nav ul li{
    padding-bottom: 50px;
  }
  nav ul li a{
    font-size: 20px;
    padding: 10px;
  }
  nav ul li a:hover , nav ul li a.active{
    background: none;
    color: rgb(255, 0, 0);
  }
  .menu-button{
  display: block;
  }
  #click:checked ~ ul{
  left: 0%;
  }
  #click:checked ~ .menu-button i::before{
    content: "\58";
  }

}
/* header section code start here */

header{
  background-image: url(image/2.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/* <!-- main section code start here --> */
.first-section{
  background-color: #164774ac;
}
.first-section > h2{
  text-align: center;
  font-size: 28px;
  color: white;
  padding: 20px 0;
  letter-spacing: .2em;
}


.service-parent{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 950px;
  margin: 0 auto;
  grid-gap: 24px;
  padding-bottom: 30px;
}
.service-child{
  background: #ffffff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(203, 29, 133, 0.679);
  text-align: center;
}
.service-child i{
  font-size: 29px;
}
.service-child h2{
  padding: 8px 0;
}


/* secend section code start here */
.second-section{
  background-color: #d6eaf8;
}
.smart-area{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 200px;
  padding: 100px 0;
}
.smart-text{
  margin-left: 100px;
  text-align: center;
}
.smart-text h2{
  margin: 30px 0;
  font-size: 28px;
}
.smart-text h4{
  font-size: 20px;
}
.smart-text a{
  text-decoration: none;
  font-size: 22px;
  background-color: #8c00ff;
  color: rgb(255, 255, 255);
  font-weight: 600;
  padding: 8px 30px;
  display: inline-block;
  margin: 40px 0;
  border-radius: 10px;
}
.second-section > h2{
  text-align: center;
  padding-top: 50px;
  font-size: 30px;
  letter-spacing: 0.2em;
}




/* first section of main tag media quary code start here */




@media only screen and (max-width:688px) {
.service-parent{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  width: 90%;
  margin: 0 auto;
  grid-gap: 24px;
}


/* second section of main tag media quary code start here */
.smart-area{
  display: block;
  margin: 0 50px;
  padding: 50px 0;
  
}
.smart-area-img{
  width: 300px;
  height: 300px;
  margin: 30px auto;
}
.smart-area-img img{
  width: 100%;
}
.second-section > h2{
  text-align: center;
  padding-top: 50px;
  font-size: 30px;
  letter-spacing: 0.2em;
}

/* third section code start here */



}


/* Third section code start */

#third-section{
     background-image: linear-gradient(rgb(149, 189, 173),rgba(65, 203, 180, 0.723));
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
     padding: 150px 0;
}
#about-parent{
     display: flex;
     justify-content: space-between;
     gap: 30px;
     align-items: center;
     margin-left: 200px;
     margin-right: 200px;
     color: white;
}
.more-about-vanilla h4{
     font-size: 20px;
     margin-bottom: 20px;
}
.more-about-vanilla ul{
     margin: 20px 0;
     list-style-position: inside;
}
.more-about-vanilla a{
     text-decoration: none;
     font-size: 18px;
     background-color: yellow;
     padding: 10px 30px;
     display: inline-block;
     margin-top: 20px;
     border-radius: 5px;
     color: black;
}

#about-single-items-parent{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-gap: 25px;
}
.about-single-items{
     background-color: #EAECEE;
     color: black;
     padding: 40px 20px;
     border-radius: 5px;
     text-align: center;
     border: 2px solid limegreen;
}
.about-single-items h4{
     font-size: 20px;
     padding: 10px 0 20px 0;
}



/* <!-- fourth section code start here --> */
.fourth-section{
  background-color: #2e91ed43;
}
.about-main-parents{
  display: flex;
  margin-left: 200px;
  margin-right: 200px;
  padding: 50px 0;
  gap: 50px;
}
.about-first-child{
  margin-top: 74px;
}
.about-first-child-img{
  height: 200px;
  width: 300px;
}
.about-first-child-img img{
  width: 100%;
  border-radius: 8px;
}
.about-first-child h3{
  margin: 15px 0;
  font-size: 21px;
 
}
.about-first-child-links{
  margin: 20px 0;

}
.about-first-child-links i{
  margin: 0 10px;
  background-color: #ffffff;
  padding: 8px 17px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.5s;
}
.about-second-child p{
  margin: 20px 0;
  line-height: 1.5;
  text-align: justify;
}
.about-second-child h3{
  margin-bottom: 40px;
  font-size:25px;
  border-bottom: 3px solid red ;
  padding-bottom:35px ;
}
.about-second-child a{
  text-decoration: none;
  background-color: #ffffff;
  padding: 7px 16px;
  border-radius: 18px;
  font-weight: 600;
  transition: 0.5s;
}
.about-first-child-links i:hover ,.about-second-child a:hover{
  background-color: #fbff00;
}

/* <!-- fourth section code end here --> */



/* <!-- 5th section code start here --> */


form{
  background-image: linear-gradient(rgba(112, 219, 231, 0.469),rgba(95, 239, 191, 0.679)),url(image/51.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 100px 0;
}
.Contact-div{
  border: 4px solid #4497D3;
  background-color: #2e367ac5;
  width: 50%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 50px 60px;
}
.Contact-div h2{
  text-align: center;
  padding: 30px 0;
  color: #ffffff;
  letter-spacing: 0.1em;
}
.Contact-div p{
  text-align: center;
  color: white;
  margin-bottom: 30px;
  letter-spacing: 0.1em;
}
.Contact-div .input{
  display: block;
  width: 100%;
  height: 40px;
  border: none;
 background: none;
 outline: none;
  margin: 50px 0;
  color: white;
  border-bottom: 3px solid #4497D3;
  font-size: 18px;
}
.input::placeholder{
  color:  #4497D3;
}
.submit{
  display: block;
  margin: 0 auto;
  padding: 5px 40px;
  background: none;
  color: rgb(255, 255, 255);
  outline-style: ridge;
  font-size: 18px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 8px;
  transition: 0.5s;
}
.submit:hover{
  background-color: #a9cff2;
  color: #343637;
}

/* <!-- 5th section code end here --> */


/* start 6th section */
.six-section{
 background-color:  #07254fe2;
 color: white;
}
.six-section-parent-div{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-right: 150px;
  margin-left: 150px;
  padding:100px 0;
  grid-gap: 45px;

}
.first-child{
  line-height: 1.5;
  letter-spacing: 0.15em;
}
.second-chid{
  border: 4px solid rgb(13, 110, 125);
  padding: 20px;
  border-radius: 5px;

}
.second-chid i{
  font-size: 40px;
  padding: 0 20px 20px 20px;
}
.second-chid h3{
  padding-bottom: 10px;
}
.second-chid p{
  color: rgba(255, 255, 255, 0.63);
  font-size: 12px;
}
.second-chid:nth-child(2){
  border: 4px solid rgb(255, 255, 255);
}



@media only screen and (max-width: 688px) {

/* Third section code start */

  #about-parent{
    display: block;
    margin-right:30px ;
    margin-left: 30px;
  }
  
#about-single-items-parent{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  margin-top: 50px;
}


/* Third section code end */



/* <!-- fourth section code start here --> */
.about-main-parents{
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  padding: 50px 0;
  gap: 50px;
}
.about-first-child-links{
  display: block;
  margin-bottom: 80px;
  

}
.about-first-child{
  text-align: center;
}
.about-first-child-img{
  margin: 0 auto;
}
.about-second-child h3{
 text-align: center;
}
.about-second-child a{
  display: block;
 align-items: center;
 text-align: center;
}
/* <!-- fourth section code end here --> */

/* 5th section code start here */

.Contact-div{
  border: 4px solid #4497D3;
  background-color: #2e367ac5;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 50px 20px;
}
/* 5th section code end here */


/* start 6th section */
.six-section-parent-div{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  margin-right: 30px;
  margin-left: 30px;
  padding:100px 0;
  grid-gap: 25px;

}
.first-child{
  text-align: center;
}



}






@media only screen and (min-width: 689px) and (max-width: 1099px) {
   #about-parent{
    display: block;
    margin-right:30px ;
    margin-left: 30px;
  }
  
#about-single-items-parent{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  margin-top: 50px;
}
/* <!-- fourth section code start here --> */
.about-main-parents{
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  padding: 50px 0;
  gap: 50px;
}
.about-first-child-links{
  display: block;
  margin-bottom: 80px;
  

}
.about-first-child{
  text-align: center;
}
.about-first-child-img{
  margin: 0 auto;
}
.about-second-child h3{
 text-align: center;
}
.about-second-child a{
  display: block;
 align-items: center;
 text-align: center;
 
}
/* <!-- fourth section code end here --> */

.Contact-div{
  border: 4px solid #b2dfff;
  background-color: #2e367ac5;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 50px 50px;
}
/* 5th section code end here */


/* start 6th section */
.six-section-parent-div{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin-right: 50px;
  margin-left: 50px;
  padding:100px 0;
  grid-gap: 35px;

}
.first-child{
  text-align: center;
}

}

